* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
